<launch>
  <!-- Launch camera-based lane perception and lidar-based labacorn perception together -->
  <arg name="lane_node_name" default="limo_lane_perception"/>
  <arg name="labacorn_node_name" default="limo_labacorn_perception"/>

  <node pkg="limo_perception"
        type="src/camera/limo_lane_perception.py"
        name="$(arg lane_node_name)"
        output="screen"
        respawn="false"/>

  <node pkg="limo_perception"
        type="src/lidar/limo_labacorn_perception.py"
        name="$(arg labacorn_node_name)"
        output="screen"
        respawn="false"/>
</launch>
