<launch>
  <!-- Launch camera-based lane perception and lidar-based labacorn perception together -->
  <arg name="lane_node_name" default="limo_lane_perception"/>
  <arg name="obstacle_node_name" default="limo_obstacle_perception"/>

  <node pkg="limo_perception"
        type="src/camera/limo_lane_perception.py"
        name="$(arg lane_node_name)"
        output="screen"
        respawn="false"/>

  <node pkg="limo_perception"
        type="src/lidar/limo_avoidance_perception.py"
        name="$(arg obstacle_node_name)"
        output="screen"
        respawn="false"/>
</launch>
